---
import Astroicon from "../components/icons/AstroIcon.astro";
import Tailwindicon from "../components/icons/TailwindIcon.astro";
import JavaScripticon from "../components/icons/JavaScriptIcon.astro";
import Githubicon from "../components/icons/GitHubIcon.astro";
import Wwwicon from "../components/icons/DemoIcon.astro";
import LinkButton from "../components/icons/LinkButton.astro";
import Demoicon from "../components/icons/DemoIcon.astro";
import HtmlIcon from "../components/icons/htmlIcon.astro";
import CssIcon from "../components/icons/CssIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";

// bgtaiwindbg- [#003159]/60

const TAGS = {
  ASTRO: {
    name: "Astro",
    class: " bg-secundary text-secundary solid border-2 border-gray-600  transition hover:scale-110  hover:bg-white/10",
    icon: Astroicon,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-secundary text-secundary solid border-2 border-gray-600  transition hover:scale-110 hover:bg-white/10",
    icon: Tailwindicon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-secundary text-secundary solid border-2 border-gray-600  transition hover:scale-110 hover:bg-white/10",
    icon: JavaScripticon,
  },
  HTML: {
    name: "HTML",
    class: "bg-secundary text-secundary solid border-2 border-gray-600  transition hover:scale-110 hover:bg-white/10",
    icon: HtmlIcon,
  },
  CSS:{
    name: "CSS",
    class: "bg-secundary text-secundary solid border-2 border-gray-600  transition hover:scale-110 hover:bg-white/10",
    icon: CssIcon,
  },
  REACT:{
    name: "React",
    class: "bg-secundary text-secundary solid border-2 border-gray-600  transition hover:scale-110 hover:bg-white/10",
    icon: ReactIcon,
  }
};

const PROJECTS = [

  {
    title: "Super Mrio Bros Game",
    description:"El legendario primer nivel del Super Mario Bros con Phaser, un motor de JavaScript para el desarrollo de videojuegos. A diferencia de usar Canvas, la experiencia de desarrollo con Phaser es mágica y crear vida de forma virtual es algo que este hombre acaba de conocer. sus habilidades se pulen más con este tipo de proyectos,ya que es fundamental organizar bien el codigo para identificar cualquier problema mientras el mundo virtual va creciendo. Sin duda, esto es algo que nadie esperaba que aprendiera tan pronto y no hay duda de que lo disfruta; no descansará hasta concluir un par de niveles.",
    image: "proyects/superMarioBros.webp",
    link: "",
    github: "https://github.com/AlanSan1195/JavaScript-Proyects",
    tags: [TAGS.HTML, TAGS.JAVASCRIPT],
    demo: "",
    
  },
  {
    title: "Wines Collections ",
    description:
      "Con este proyecto aprendió a combinar sus tecnologías preferidas en un solo trabajo, como el uso de React dentro de Astro para simplificar la lógica de su código. También descubrió las colecciones que integra Astro en su versión más nueva para manejar colecciones a su gusto de forma tipada. Aunque parezca sencillo, tiene una estructura interesante por dentro y un gran diseño. probablemente este sea un mensaje para todos que nos indica que Alan siempre intenta estar al día para aumentar su experiencia.",
    image: "/proyects/winesCollections.webp",
    link: "",
    github:
      "https://github.com/AlanSan1195/wines-list",
    tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TAILWIND],
    demo: "https://cavamatera.online",
  },
  // {
  //   title: "Arkanoid Game - Old School",
  //   description:
  //     "Uno de sus primeros desarrollos. Junto con Midudev y su comunidad, Aprendio cosas interesantes como el uso del Canvas y el dibujo de los objetos de forma manual. cositas como el reinicio de frames y la misma página. Su juego por ahora solo esta disponible en una demo excluciva para estudiar sus tecnicas,  brindar informacion a los que la necesiten y nos ayuden a su reclutamiento.",
  //   image: "/proyects/arkanoid.webp",
  //   link: "",
  //   github:
  //     "https://github.com/AlanSan1195/JavaScript-Proyects/tree/main/01%20-arkanold-Game",
  //   tags: [TAGS.JAVASCRIPT],
  //   demo: "https://arkanoidsan.netlify.app/",
  // },
];
---

  <div class=" mt-14 md:mt-18 lg:mt-24">
    <h1 class=" font-rdr text-5xl md:text-8xl lg:text-[100px] flex md:mx-auto ml-3 md:justify-center  ">Proyectos</h1>
  </div>

<div class="flex flex-col gap-y-12 w-[350px] md:w-[800px] lg:w-[1000px] mt-4 md:mt-10 lg:mt-14 md:mx-auto">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, demo }) => (
      <article class="flex flex-col space-x-0 space-y-2 group md:flex-row md:content-center md:items-center md:space-x-8 md:space-y-0 lg:ml-4">
        <div class="w-full md:w-1/2">
          <div class="relative flex  rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="imagen de mis proyectos"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105 rounded-xl sm:rounded-xl"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          
          <h3 class="text-xl md:text-3xl font-rocks text-secundary font-semibold ">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs  font-rocks ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-secundary font-old text-lg leading-none text-pretty  md:text-xl lg:text-2xl">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4 font-rocks text-xs">
              {github && (
                <LinkButton href={github} >
                  <Githubicon class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Wwwicon class="size-4" />
                  Preview
                </LinkButton>
              )}

              {demo && (
                <LinkButton href={demo}>
                  <Demoicon class="size-6" />
                  Demo
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>